In [36]:
import pandas as pd

df = pd.read_csv('/nas.dbms/fathan/test/multilang-hate-models/binary-hatespeech/badword-on-hatespeech-en/multilang-cross-val/id_dataset_huggingface1/train.csv')
df.head()

,text,labels,source,dataset,nb_annotators
0,@USER.wood17 knp lo gak berani bersumpah dan b...,1,Instagram,ID_instagram,3
1,"haha, somad somad. Muka dekil otak 0% , kok ya...",1,Instagram,ID_instagram,3
2,"hahaha, kaum sableng 212 kl berita begini mrk ...",1,Instagram,ID_instagram,3
3,"hahaha, makin stress aja ni umat sableng, dlu...",1,Instagram,ID_instagram,3
4,HIDUP PSI = partai SAMPAH indonesia..... ...,1,Instagram,ID_instagram,3

In [37]:
import re

def case_folding(data):
  temp_tweet = []

  for tw in data:
    # removal of @name[mention]
    tw = re.sub(r"(?:\@|https?\://)\S+", "", tw)

    # removal of links[https://blabala.com]
    # tw = re.sub(r"http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+", "", tw)
    tw = re.sub(r"http\S+", "", tw)

    # removal of new line
    tw = re.sub('\n', '', tw)

    # removal of RT
    tw = re.sub('RT', '', tw)

    # removal of punctuations and numbers
    tw = re.sub("[^a-zA-Z^']", " ", tw)
    tw = re.sub(" {2,}", " ", tw)

    # remove leading and trailing whitespace
    tw = tw.strip()

    # remove whitespace with a single space
    tw = re.sub(r'\s+', ' ', tw)

    # convert text to Lowercase
    tw = tw.lower();
    temp_tweet.append(tw)
  return temp_tweet

In [38]:
df['text']=case_folding(df['text'])

df = df[['text', 'labels']]
df = df.rename(columns={'labels': 'hs_class'})

df['hs_class'] = df['hs_class'].replace(0 , "negative")
df['hs_class'] = df['hs_class'].replace(1 , "positive")

df.head()

                                                text  hs_class
0  knp lo gak berani bersumpah dan bertaruh krnlo...  positive
1  haha somad somad muka dekil otak kok ya g malu...  positive
2  hahaha kaum sableng kl berita begini mrk buta ...  positive
3  hahaha makin stress aja ni umat sableng dlu ra...  positive
4                  hidup psi partai sampah indonesia  positive

In [39]:
import csv

df.to_csv('/nas.dbms/fathan/test/multilang-hate-models/binary-hatespeech/badword-on-hatespeech-en/multilang-cross-val/id_dataset_huggingface1/id_huggingface1_formatted.csv', index=False)