In [36]:
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(style='darkgrid')

import warnings
warnings.filterwarnings('ignore')

In [37]:
df = pd.read_csv('/nas.dbms/fathan/test/multilang-hate-models/binary-hatespeech/badword-on-hatespeech-en/multilang-cross-val/id_dataset_pilkada2017/hate_speech_dataset.csv')
df.head()

    Label                                              Tweet
0  Non_HS  RT @spardaxyz: Fadli Zon Minta Mendagri Segera...
1  Non_HS  RT @baguscondromowo: Mereka terus melukai aksi...
2  Non_HS  Sylvi: bagaimana gurbernur melakukan kekerasan...
3  Non_HS  Ahmad Dhani Tak Puas Debat Pilkada, Masalah Ja...
4  Non_HS  RT @lisdaulay28: Waspada KTP palsu.....kawal P...

In [38]:
import re

def case_folding(data):
  temp_tweet = []

  for tw in data:
    # removal of @name[mention]
    tw = re.sub(r"(?:\@|https?\://)\S+", "", tw)

    # removal of links[https://blabala.com]
    # tw = re.sub(r"http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+", "", tw)
    tw = re.sub(r"http\S+", "", tw)

    # removal of new line
    tw = re.sub('\n', '', tw)

    # removal of RT
    tw = re.sub('RT', '', tw)

    # removal of punctuations and numbers
    tw = re.sub("[^a-zA-Z^']", " ", tw)
    tw = re.sub(" {2,}", " ", tw)

    # remove leading and trailing whitespace
    tw = tw.strip()

    # remove whitespace with a single space
    tw = re.sub(r'\s+', ' ', tw)

    # convert text to Lowercase
    tw = tw.lower();
    temp_tweet.append(tw)
  return temp_tweet

In [39]:
df['text']=case_folding(df['Tweet'])

df = df[['text', 'Label']]
df = df.rename(columns={'Label': 'hs_class'})

df['hs_class'] = df['hs_class'].replace("Non_HS", "negative")
df['hs_class'] = df['hs_class'].replace("HS", "positive")

df.head()

                                                text  hs_class
0  fadli zon minta mendagri segera menonaktifkan ...  negative
1  mereka terus melukai aksi dalam rangka memenja...  negative
2  sylvi bagaimana gurbernur melakukan kekerasan ...  negative
3  ahmad dhani tak puas debat pilkada masalah jal...  negative
4                    waspada ktp palsu kawal pilkada  negative

In [40]:
import csv

df.to_csv('/nas.dbms/fathan/test/multilang-hate-models/binary-hatespeech/badword-on-hatespeech-en/multilang-cross-val/id_dataset_pilkada2017/hate_speech_dataset_formatted.csv', index=False)